<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="Google">
      <section name="GoogleCheckout" type="GCheckout.Util.GCheckoutConfigHandler,GCheckout"/>
    </sectionGroup>
    <section name="TinyMCE" type="Moxiecode.TinyMCE.ConfigHandler,Moxiecode.TinyMCE" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="MotoProfessionalDB" connectionString="Data Source=(local);Initial Catalog=Photos;Integrated Security=True"/>
  </connectionStrings>
  <Google>
    <GoogleCheckout SandboxMerchantID="774574653669793" SandboxMerchantKey="5tfOO-M7SKv8eM2hEPjupg" ProductionMerchantID="954730603835408" ProductionMerchantKey="mm_x0nEgQ9OpNUKDkI-abA" PlatformID="124248135971073" Environment="Sandbox" Logging="true" LogDirectory="c:\google-checkout-logs\" Currency="GBP"/>
  </Google>
  <TinyMCE installPath="/mp/_system/tiny_mce/" mode="src">
    <!-- Default settings for all TinyMCE instances -->
    <globalSettings>
      <add key="relative_urls" value="false"/>
    </globalSettings>
    <!-- Compressor specific settings -->
    <gzipCompressor enabled="yes" diskCache="no" cachePath="c:\temp" expiresOffset="10d"/>
  </TinyMCE>
  <!-- APP CONFIG VALUES -->
  <appSettings>
    <add key="FormalServiceDescription" value="Pro Photos for Everyone."/>
    <add key="FormalServiceUrl" value="http://localhost:82"/>
    <add key="FormalServiceDomain" value="motoprofessional.com"/>
    <add key="FormalServiceName" value="Moto Professional"/>
    <add key="DefaultCountryID" value="238"/>
    <add key="LongDateTimeFormatString" value="dd MMMM \'yy - HH:mm:ss"/>
    <add key="ShortDateTimeFormatString" value="dd MMMM \'yy - HH:mm"/>
    <add key="ShortDateFormatString" value="dd MMMM yy"/>
    <add key="MediaPath" value="C:\Filestores\MP\"/>
    <add key="ServiceShortName" value="MP"/>
    <add key="MediaPanther.Framework.Caching.MaxItems" value="20000"/>
    <add key="MediaPanther.Framework.Email.TemplatePath" value="~/_system/email/"/>
    <add key="MediaPanther.Framework.Email.TemplatePathIsWebPath" value="true"/>
    <add key="MediaPanther.Framework.Email.FromAddress" value="info@motoprofessional.com"/>
    <add key="MediaPanther.Framework.Email.SmtpServer" value="127.0.0.1"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="127.0.0.1"/>
      </smtp>
    </mailSettings>
  </system.net>
  <!-- PAGE ACCESS SECURITY -->
  <location path="Account">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Basket">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Checkout">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Admin">
    <system.web>
      <authorization>
        <allow roles="Administrators"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.web>
    <trace enabled="false" pageOutput="true" requestLimit="999" traceMode="SortByTime"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-GB" uiCulture="en-GB"/>
    <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
      <providers>
        <add name="XmlSiteMapProvider" description="SiteMap provider which reads in .sitemap XML files." type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" siteMapFile="~/Web.sitemap" securityTrimmingEnabled="true"/>
      </providers>
    </siteMap>
    <membership defaultProvider="CustomizedProvider">
      <providers>
        <clear/>
        <add name="CustomizedProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="MotoProfessionalDB" applicationName="MotoProfessional" requiresUniqueEmail="true" requiresQuestionAndAnswer="false" enablePasswordRetrieval="false" enablePasswordReset="true" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0"/>
      </providers>
    </membership>
    <roleManager enabled="true" cacheRolesInCookie="true" defaultProvider="CustomizedRoleProvider">
      <providers>
        <add applicationName="MotoProfessional" connectionStringName="MotoProfessionalDB" name="CustomizedRoleProvider" type="System.Web.Security.SqlRoleProvider"/>
      </providers>
    </roleManager>
    <!-- 
    Set compilation debug="true" to insert debugging 
    symbols into the compiled page. Because this 
    affects performance, set this value to true only 
    during development.
        -->
    <compilation debug="true" targetFramework="4.0"/>
    <!--
    The <authentication> section enables configuration 
    of the security authentication mode used by 
    ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms loginUrl="~/signin/" protection="All" timeout="60" name=".ASPXAUTH" path="/" requireSSL="false" slidingExpiration="true" defaultUrl="~/" cookieless="UseDeviceProfile" enableCrossAppRedirects="false"/>
    </authentication>
    <!--
    The <customErrors> section enables configuration 
    of what to do if/when an unhandled error occurs 
    during the execution of a request. Specifically, 
    it enables developers to configure html error pages 
    to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages theme="Default" maintainScrollPositionOnPostBack="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <httpHandlers>
      <!-- Mappings for IIS 6 or less -->
      <add verb="GET,HEAD,POST" path="TinyMCE.ashx" type="Moxiecode.TinyMCE.Web.HttpHandler,Moxiecode.TinyMCE"/>
    </httpHandlers>
  </system.web>
  <!-- 
  The system.webServer section is required for running ASP.NET AJAX under Internet
  Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <!-- Mappings for IIS 7 -->
      <!--<add name="TinyMCE" verb="GET,HEAD,POST" path="TinyMCE.ashx" type="Moxiecode.TinyMCE.Web.HttpHandler,Moxiecode.TinyMCE" />-->
    </handlers>
  </system.webServer>
</configuration>